$status-bar-height: 30px;
$navigation-bar-height: 24px;
$toolbar-left-width: 60px;
$sidebar-left-width: 24px;
$tab-bar-height: 40px;

$app-padding: 20px;

$border-default: rgba(0,0,0,0.1);

$light-background: #efefef;
$light-background: #222;

$white: #fff;
$black: #000;