.button {
  background-color: #4a154b;
  border: none;
  color: #fff;
  align-items: center;
  -webkit-appearance: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: none;
  position: relative;
  text-align: center;
  &.large {
    font-size: 18px;
    font-weight: 900;
    height: 44px;
    min-width: 96px;
    padding: 0 16px 3px;
  }
  &.block {
    display: block;
    width: 100%;
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:disabled {
    background-color: transparent;
    pointer-events: none;
  }
}
