.input {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border 80ms ease-out, box-shadow 80ms ease-out;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  &.large {
    padding: 11px 12px 13px;
    height: 44px;
    font-size: 18px;
    line-height: 1.33333333;
  }
}
